html {
  scroll-behavior: smooth;
}

.about-container {
  padding-top: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  /* background-color: #f2f3f4; */
}

.about-text {
  font-size: XXX-large;
  line-height: 200%;
}

.icon {
  height: auto; /* Allow the height to adjust automatically */
  width: 20vw; /* Width relative to viewport width */
  max-width: 70px; /* Limit maximum width */
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .icon {
    width: 30vw; /* Adjust width for smaller screens */
    max-width: 50px; /* Reduce max-width for smaller screens */
  }
}

.HCSS {
  color: green;
}
