.projects-container {
  /* margin-top: 80px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px;
  gap: 10px;
}

.p-title {
  grid-column: span 3;
  font-size: xxx-large;
}

.p-card1,
.p-card2,
.p-card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Ensure content does not spill out */
}

.p-card1 {
  background-color: #c8ffd4;
  border-radius: 40px;
}
